@charset "utf-8";
.tour .swiper-wrapper{
    align-items: flex-end;
}
.tour-img img {
  width: 100%;
}
.tour-img img {
  width: 100%;
  aspect-ratio: 1 0.6; /* 이미지 가로세로 비율*/
}
.tour-link {
  display: block;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.tour-info {
  padding: 5%;
  background-color: #fff;
}
.tour-info-list li {
  position: relative;
}
.tour-cate {
  display: inline-block;
  position: absolute;
  top: -40px;
  left: 0;
  background: #4a95ff;
  font-size: 14px;
  line-height: 32px;
  color: #fff;
  font-weight: 700;
  padding: 0 10px;
  border-radius: 3px;
}
.tour-title {
  display: block;
  font-size: 15px;
  line-height: 18px;
  color: #4a95ff;
  /* 한줄 말줄임 표시 */
  /* max-width: 250px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 10px;
}
.tour-price{
    font-size: 16px;
    line-height: 24px;
}
.tour-price b{
    font-size: 2rem;
    font-weight: 700;
}
.tour-place{
    font-size: 12px;
    line-height: 25px;
}